In [56]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False
                )
#eine erste Ãœbersicht verschaffen:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [3]:
# 1. Wie viele Merkmale besitzt der Datensatz? Die Merkmale entsprechen den Spalten
len(df.columns)

14

In [4]:
# 2.Wie groÃŸ ist die StichprobengrÃ¶ÃŸe des Datensatzes?
len(df)

436290

In [5]:
# 3. Wer oder was sind die MerkmalstrÃ¤ger?

 Bibliothekskunden der SF Public Library.

In [6]:
# 4. Von wann bis wann wurden die Daten erhoben?

Aus dem Datensatz lÃ¤sst sich herauslesen, dass die ersten Nutzeregistrierungen 2003 waren EinfÃ¼hrung Bibliothekssystem), die letzten 2022. Der Datensatz selbst wurde zuletzt 2023 aktualisiert (laut Webseite).

WeiterfÃ¼hrende Informationen sind auf der Webseite verfÃ¼gbar: https://data.sfgov.org/Culture-and-Recreation/Library-Usage/qzz6-2jup/about_data

In [7]:
df['Year Patron Registered'].value_counts(normalize=True)

2022    0.119583
2019    0.101515
2003    0.094052
2021    0.074799
2020    0.073369
2017    0.067203
2018    0.065603
2023    0.060249
2016    0.049781
2015    0.046201
2014    0.036593
2013    0.030553
2012    0.029066
2011    0.028348
2009    0.026109
2010    0.025779
2008    0.023154
2007    0.014862
2006    0.012042
2005    0.010910
2004    0.010229
Name: Year Patron Registered, dtype: float64

In [8]:
# 5. Wie lÃ¤sst sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?

Grundgesamtheit sind alle Bibliothekskunden der San Francisco Library. Wahrscheinlich handelt es sich um eine Vollerhebung. Es lÃ¤sst sich diskutieren, ob die Grundgesamtheit grÃ¶ÃŸer gefasst werden kann (z.B. alle Kunden von Bibliotheken in den USA oder alle Kunden von Ã¶ffentlichen Bibliotheken). Was meinst Du: sind die Daten reprÃ¤sentativ fÃ¼r diese Grundgesamtheiten?

In [9]:
# 6. Welche Merkmale sind stetig? Welche diskret?
#
#Aus der Beschreibung der Merkmale des Datensatzes aber auch einfach bereits mit
#df
#lÃ¤sst sich erkennen, dass nur die Variablen 'Total Checkouts' und 'Total Renewals' stetig sind. 
#Alle anderen sind diskret

In [10]:
# 7. Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)? 
#
# Siehe wieder 
#df

In [11]:
# Ordinal: 'Age Range'

In [12]:
# Metrisch: 'Total Checkouts', 'Total Renewals', 'Circulation Active Year', 'Year Patron registered'

In [13]:
# Nominal: 'Patron Type Code', 'Patron Type Definition', 'Home Library Code', 
# 'Home Library Definition', 'Circulation Active Month', 'Notice Preference Code', 
# 'Notice Preference Definition', 'Provided Email Address', 'Within San Francisco County'

In [14]:
# 8. EnthÃ¤lt der Datensatz fehlende Werte? Ja, z.B. 'Circulation Active Year'

In [15]:
df[df['Circulation Active Year'].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
64,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
65,3,Senior,0,0,75 years and over,m2,Marina,NaN,NaN,z,Email,True,2021,False
72,10,Visitor,0,0,25 to 34 years,x,Main,NaN,NaN,z,Email,True,2023,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436262,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436268,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436273,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,NaN,None,False,2021,NaN
436275,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436280,0,Adult,0,0,25 to 34 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN

In [17]:
# 9. Handelt es sich um Querschnitts-, LÃ¤ngsschnitss- oder Paneldaten? 
#
# Querschnittsdaten

In [99]:
row_filter = (df['Age Range'] == '20 to 24 years') 
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
31,4,Welcome,1,1,20 to 24 years,g4,Glen Park,Aug,2022.0,z,Email,True,2022,False
37,10,Visitor,3,3,20 to 24 years,p5,Portola,Aug,2022.0,z,Email,True,2022,False
41,10,Visitor,3,3,20 to 24 years,g6,Golden Gate Valley,Nov,2022.0,z,Email,True,2022,False
56,0,Adult,5,4,20 to 24 years,x,Main,May,2022.0,z,Email,True,2021,False
57,10,Visitor,6,1,20 to 24 years,x,Main,Jul,2023.0,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436215,0,Adult,0,0,20 to 24 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436240,16,Digital Access Card,0,0,20 to 24 years,x,Main,Jun,2023.0,NaN,None,False,2023,NaN
436245,4,Welcome,0,0,20 to 24 years,x,Main,Aug,2021.0,NaN,None,False,2021,NaN
436267,0,Adult,0,0,20 to 24 years,x,Main,May,2023.0,NaN,None,False,2023,NaN
436274,16,Digital Access Card,0,0,20 to 24 years,x,Main,Dec,2021.0,NaN,None,False,2021,NaN

In [97]:
df['Patron Type Definition'].value_counts()

Adult                  274682
Juvenile                53281
Senior                  49332
Teen                    40561
Welcome                  9966
Digital Access Card      3714
Teacher Card             3234
Staff                     806
Retired Staff             215
Visitor                   148
Library By Mail           120
At User Adult             118
At User Senior             78
At User Welcome            13
At User Teen                8
Business                    7
At User Juvenile            7
Name: Patron Type Definition, dtype: int64

In [98]:
df['Age Range'].value_counts()

25 to 34 years       92669
35 to 44 years       81719
10 to 19 years       66857
45 to 54 years       48319
0 to 9 years         32692
65 to 74 years       31714
20 to 24 years       25381
75 years and over    19297
55 to 59 years       19076
60 to 64 years       17654
Name: Age Range, dtype: int64

In [88]:


pd.crosstab(
    df['Patron Type Definition'],
    df['Notice Preference Definition'],
    margins=True,
    normalize=1
)

Notice Preference Definition     Email      None       All
Patron Type Definition
Adult                         0.657799  0.371467  0.629586
At User Adult                 0.000252  0.000442  0.000270
At User Juvenile              0.000013  0.000047  0.000016
At User Senior                0.000145  0.000488  0.000179
At User Teen                  0.000020  0.000000  0.000018
At User Welcome               0.000028  0.000047  0.000030
Business                      0.000018  0.000000  0.000016
Digital Access Card           0.005039  0.040289  0.008513
Juvenile                      0.114411  0.192677  0.122123
Library By Mail               0.000257  0.000442  0.000275
Retired Staff                 0.000511  0.000326  0.000493
Senior                        0.104053  0.195585  0.113072
Staff                         0.002014  0.000326  0.001847
Teacher Card                  0.007920  0.002768  0.007413
Teen                          0.085591  0.160460  0.092968
Visitor                       0.000356  0.000186  0.000339
Welcome                       0.021574  0.034451  0.022843

In [89]:
pd.crosstab(
    df['Age Range'],
    df['Notice Preference Definition'],
    margins=True,
    normalize=1
)

Notice Preference Definition     Email      None       All
Age Range
0 to 9 years                  0.073228  0.092113  0.075089
10 to 19 years                0.139974  0.277853  0.153561
20 to 24 years                0.057841  0.062465  0.058296
25 to 34 years                0.224728  0.104163  0.212847
35 to 44 years                0.197766  0.095585  0.187697
45 to 54 years                0.115078  0.073513  0.110982
55 to 59 years                0.044171  0.040556  0.043815
60 to 64 years                0.039592  0.049296  0.040549
65 to 74 years                0.069228  0.105911  0.072842
75 years and over             0.038395  0.098546  0.044322

In [100]:
pd.crosstab(
    df['Patron Type Definition'],
    df['Age Range'],
    margins=True,
    normalize=1
)

Age Range,0 to 9 years,10 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 years and over,All
Patron Type Definition,,,,,,,,,,,
Adult,0.001193,0.081323,0.939364,0.934153,0.944811,0.950661,0.952558,0.958253,0.013716,0.001036,0.630652
At User Adult,0.000000,0.000045,0.000197,0.000086,0.000318,0.000600,0.001048,0.001359,0.000000,0.000000,0.000264
At User Juvenile,0.000122,0.000045,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000016
At User Senior,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001514,0.001555,0.000179
At User Teen,0.000000,0.000120,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000018
At User Welcome,0.000000,0.000015,0.000039,0.000054,0.000037,0.000041,0.000000,0.000000,0.000000,0.000052,0.000030
Business,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000032,0.000000,0.000002
Digital Access Card,0.000092,0.000897,0.010598,0.012874,0.014268,0.010555,0.008964,0.007024,0.004099,0.002487,0.008439
Juvenile,0.997614,0.308853,0.000039,0.000011,0.000024,0.000000,0.000052,0.000000,0.000000,0.000000,0.122349
Library By Mail,0.000000,0.000000,0.000118,0.000086,0.000110,0.000103,0.000315,0.000227,0.000820,0.003057,0.000276
Retired Staff,0.000000,0.000000,0.000000,0.000011,0.000012,0.000021,0.000577,0.000736,0.002428,0.001866,0.000322
Senior,0.000214,0.000000,0.000000,0.000000,0.000000,0.000021,0.000105,0.000906,0.957905,0.980308,0.113285
Staff,0.000031,0.000000,0.000473,0.000788,0.001211,0.002463,0.002464,0.001190,0.000946,0.000207,0.000933
Teacher Card,0.000153,0.000030,0.001891,0.008503,0.011136,0.013783,0.012739,0.009233,0.004730,0.001347,0.006893
Teen,0.000031,0.606474,0.000079,0.000000,0.000012,0.000000,0.000000,0.000000,0.000000,0.000000,0.093140
Visitor,0.000000,0.000090,0.001103,0.000475,0.000318,0.000331,0.000262,0.000397,0.000378,0.000207,0.000340
Welcome,0.000551,0.002109,0.046097,0.042959,0.027741,0.021420,0.020916,0.020675,0.013433,0.007877,0.022863