Projektaufgabe: Inferenzstatistik (optional)

Unterscheidet sich das durchschnittliche Ausleihverhalten von jungen und älteren Bibliotheksnutzern signifikant voneinander?

Gehe zur Beantwortung der Fragestellung die folgenden Schritte durch:

    Lies den Datensatz ein.
    Um eine homogene Stichprobe zu erhalten, filtere nach Bibliothekskunden die sich im Jahr 2010 registriert haben und auch noch im Jahr 2016 (als der Datensatz erstellt wurde) aktiv waren.
    Erstelle jeweils eine Series der Total Checkouts für zwei Sub-Populationen: Betrachte jeweils YOUNG ADULTs und SENIORs aus der Variable Patron Type Definition.
        Wie viele Beobachtungen sind jeweils in den beiden Populationen?
        Was sind deren Mittelwerte (Median, arithmetisches Mittel)?
        Was ist Deine Vermutung? Bestehen signifikante Unterschiede in den Mittelwerten dieser beiden Gruppen?
    Berechne das Konfidenzinterval für die Differenz der Mittelwerte/ Mediane mit dem Bootstrapping Verfahren! Setze das Signifikanznievau α=0.01

.
Wie interpretierst Du das Ergebnis? Unterscheiden sich die Mittelwerte signifikant voneinander?
Wie Ändert sich das Ergebniss, wenn Du das Signifikanzniveau α
änderst?

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False
                )

In [12]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [91]:
df["Patron Type Definition"].value_counts()

Patron Type Definition
Adult                  274682
Juvenile                53281
Senior                  49332
Teen                    40561
Welcome                  9966
Digital Access Card      3714
Teacher Card             3234
Staff                     806
Retired Staff             215
Visitor                   148
Library By Mail           120
At User Adult             118
At User Senior             78
At User Welcome            13
At User Teen                8
Business                    7
At User Juvenile            7
Name: count, dtype: int64

In [13]:
len(df.columns)

14

In [14]:
len(df)

436290

In [23]:
df.isnull().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [15]:
df['Year Patron Registered']

0         2003
1         2003
2         2011
3         2003
4         2003
          ...
436285    2020
436286    2011
436287    2022
436288    2019
436289    2003
Name: Year Patron Registered, Length: 436290, dtype: int64

In [16]:
df['Year Patron Registered'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 436290 entries, 0 to 436289
Series name: Year Patron Registered
Non-Null Count   Dtype
--------------   -----
436290 non-null  int64
dtypes: int64(1)
memory usage: 3.3 MB

In [17]:
df['Year Patron Registered'].value_counts()

Year Patron Registered
2022    52173
2019    44290
2003    41034
2021    32634
2020    32010
2017    29320
2018    28622
2023    26286
2016    21719
2015    20157
2014    15965
2013    13330
2012    12681
2011    12368
2009    11391
2010    11247
2008    10102
2007     6484
2006     5254
2005     4760
2004     4463
Name: count, dtype: int64

In [69]:
df["Circulation Active Year"].value_counts()

Circulation Active Year
2023.0    234229
2022.0     75056
2021.0     46724
2020.0     21664
2019.0     12347
2018.0      2455
2017.0      1505
2016.0       843
2015.0       742
2014.0       466
2013.0       272
2012.0       174
2011.0        98
2010.0        63
2009.0        41
2008.0        30
2007.0        21
2006.0        18
2005.0        18
2004.0        11
Name: count, dtype: int64

In [24]:
df['Year Patron Registered'].value_counts(normalize=True)

Year Patron Registered
2022    0.119583
2019    0.101515
2003    0.094052
2021    0.074799
2020    0.073369
2017    0.067203
2018    0.065603
2023    0.060249
2016    0.049781
2015    0.046201
2014    0.036593
2013    0.030553
2012    0.029066
2011    0.028348
2009    0.026109
2010    0.025779
2008    0.023154
2007    0.014862
2006    0.012042
2005    0.010910
2004    0.010229
Name: proportion, dtype: float64

In [18]:
df.loc

In [19]:
df_maior_2010 = df.loc[df["Year Patron Registered"] > 2010]

In [20]:
df_maior_2010

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
24,5,Staff,97,82,NaN,x,Main,Jul,2023.0,z,Email,True,2021,False
29,4,Welcome,0,0,25 to 34 years,x,Main,Oct,2019.0,z,Email,True,2019,False
30,4,Welcome,1,0,35 to 44 years,x,Main,Jun,2021.0,NaN,NaN,False,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436283,16,Digital Access Card,0,0,35 to 44 years,x,Main,Nov,2022.0,NaN,NaN,False,2016,NaN
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN

In [31]:
df_2010 = df.loc[df["Year Patron Registered"] == 2010]

In [32]:
df_2010

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
221,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
533,0,Adult,134,193,35 to 44 years,m6,Mission,Jul,2023.0,z,Email,True,2010,False
569,3,Senior,1,2,65 to 74 years,x,Main,Jan,2021.0,z,Email,True,2010,False
595,0,Adult,14,2,45 to 54 years,x,Main,Aug,2020.0,z,Email,True,2010,False
689,0,Adult,144,187,35 to 44 years,x,Main,Jun,2023.0,z,Email,True,2010,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436005,0,Adult,39,20,35 to 44 years,x,Main,Apr,2023.0,z,Email,True,2010,NaN
436013,0,Adult,3,3,35 to 44 years,x,Main,Jun,2020.0,z,Email,True,2010,NaN
436030,5,Staff,119,151,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2010,NaN
436145,0,Adult,125,0,35 to 44 years,x,Main,Sep,2013.0,z,Email,True,2010,NaN
436230,0,Adult,69,57,35 to 44 years,x,Main,Sep,2019.0,z,Email,True,2010,NaN

In [70]:
df_menor_2016 = df_2010.loc[df["Circulation Active Year"] <= 2016]

In [71]:
df_menor_2016

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
4098,3,Senior,14,0,65 to 74 years,x,Main,May,2014.0,z,Email,True,2010,False
9934,2,Teen,147,5,10 to 19 years,e7,Eureka Valley,Jan,2014.0,z,Email,True,2010,False
12580,3,Senior,7,8,75 years and over,g4,Glen Park,Apr,2012.0,z,Email,True,2010,False
16031,0,Adult,42,16,35 to 44 years,r3,Richmond,Dec,2015.0,z,Email,True,2010,False
21674,0,Adult,13,0,35 to 44 years,e9,Excelsior,Oct,2013.0,NaN,NaN,False,2010,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387364,0,Adult,1,2,35 to 44 years,x,Main,Oct,2011.0,z,Email,True,2010,False
403367,2,Teen,1,0,10 to 19 years,e9,Excelsior,Apr,2010.0,NaN,NaN,False,2010,False
419749,0,Adult,1,0,35 to 44 years,r3,Richmond,Aug,2010.0,z,Email,True,2010,False
434366,3,Senior,5,0,65 to 74 years,i5,Ingleside,Oct,2015.0,z,Email,True,2010,False
436145,0,Adult,125,0,35 to 44 years,x,Main,Sep,2013.0,z,Email,True,2010,NaN

In [72]:
df_menor_2016['Circulation Active Year'].value_counts()

Circulation Active Year
2015.0    65
2016.0    60
2014.0    56
2013.0    39
2011.0    18
2012.0    14
2010.0    10
Name: count, dtype: int64

In [73]:
df_menor_2016["Patron Type Definition"].value_counts()

Patron Type Definition
Adult      139
Teen       111
Senior      11
Welcome      1
Name: count, dtype: int64

In [74]:
df_menor_2016["Age Range"].value_counts()

Age Range
10 to 19 years       148
20 to 24 years        59
45 to 54 years        17
35 to 44 years        14
65 to 74 years         9
25 to 34 years         6
55 to 59 years         5
75 years and over      2
60 to 64 years         2
Name: count, dtype: int64

senioren=df.loc[
    (df['Age Range'] == "65 to 74 years") | 
    (df['Age Range'] == "75 years and over")
]

In [75]:
young_adults=df_menor_2016.loc[(df_menor_2016["Age Range"]=="20 to 24 years")|(df_menor_2016["Age Range"]=="25 to 34 years")]

In [76]:
young_adults

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
22125,0,Adult,23,5,25 to 34 years,m6,Mission,Nov,2011.0,z,Email,True,2010,False
36077,0,Adult,3,0,20 to 24 years,x,Main,Nov,2013.0,NaN,NaN,False,2010,False
40544,0,Adult,86,0,20 to 24 years,m8,Mission Bay,Nov,2015.0,NaN,NaN,False,2010,False
61618,0,Adult,22,2,20 to 24 years,n6,North Beach,May,2015.0,z,Email,True,2010,False
65752,0,Adult,5,0,20 to 24 years,p7,Potrero,May,2014.0,z,Email,True,2010,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371603,0,Adult,162,9,20 to 24 years,p5,Portola,Oct,2016.0,NaN,NaN,False,2010,False
371811,0,Adult,11,0,20 to 24 years,p5,Portola,Nov,2011.0,NaN,NaN,False,2010,False
374757,0,Adult,63,0,20 to 24 years,v3,Visitacion Valley,Oct,2014.0,z,Email,True,2010,False
375106,0,Adult,8,0,20 to 24 years,v3,Visitacion Valley,Aug,2016.0,NaN,NaN,False,2010,False
379233,0,Adult,14,0,20 to 24 years,x,Main,Mar,2015.0,NaN,NaN,False,2010,False

In [77]:
senior=df_menor_2016.loc[(df_menor_2016["Age Range"]=="60 to 64 years")|(df_menor_2016["Age Range"]=="65 to 74 years")|(df_menor_2016["Age Range"]=="75 years and over")]

In [78]:
senior

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
4098,3,Senior,14,0,65 to 74 years,x,Main,May,2014.0,z,Email,True,2010,False
12580,3,Senior,7,8,75 years and over,g4,Glen Park,Apr,2012.0,z,Email,True,2010,False
59208,3,Senior,3,3,75 years and over,m8,Mission Bay,May,2012.0,z,Email,True,2010,False
64523,3,Senior,4,4,65 to 74 years,p7,Potrero,Oct,2010.0,z,Email,True,2010,False
96073,3,Senior,51,3,65 to 74 years,x,Main,Jun,2012.0,NaN,NaN,False,2010,False
96220,3,Senior,1,0,65 to 74 years,x,Main,Apr,2010.0,NaN,NaN,False,2010,False
97498,3,Senior,11,2,65 to 74 years,b4,Bernal,Jul,2013.0,z,Email,True,2010,False
140829,3,Senior,2,0,65 to 74 years,e9,Excelsior,Sep,2010.0,NaN,NaN,False,2010,False
145595,0,Adult,27,27,60 to 64 years,i5,Ingleside,Apr,2012.0,z,Email,True,2010,False
175474,3,Senior,1,0,65 to 74 years,x,Main,Nov,2010.0,z,Email,True,2010,False
272906,0,Adult,5,0,60 to 64 years,o7,Ortega,Jun,2015.0,z,Email,True,2010,False
376514,3,Senior,14,6,65 to 74 years,x,Main,Mar,2015.0,z,Email,True,2010,False
434366,3,Senior,5,0,65 to 74 years,i5,Ingleside,Oct,2015.0,z,Email,True,2010,False

In [79]:
young_adults['Total Checkouts'].agg(lambda x: x.std()/x.mean())

1.806607734889267

In [80]:
senior['Total Checkouts'].agg(lambda x: x.std()/x.mean())

1.2561572491064796

In [81]:
young_adults['Total Checkouts'].mean()

85.16923076923077

In [82]:
senior['Total Checkouts'].mean()

11.153846153846153

In [83]:
young_adults['Total Checkouts'].mode()

0     3
1     5
2     8
3    14
4    19
5    38
6    40
Name: Total Checkouts, dtype: int64

In [84]:
senior['Total Checkouts'].mode()

0     1
1     5
2    14
Name: Total Checkouts, dtype: int64

In [85]:
young_adults['Total Checkouts'].median()

36.0

In [86]:
senior['Total Checkouts'].median()

5.0

In [87]:
young_adults.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Year,Year Patron Registered
count,65.0,65.000000,65.000000,65.000000,65.0
mean,0.0,85.169231,8.215385,2014.384615,2010.0
std,0.0,153.867391,29.914196,1.443653,0.0
min,0.0,2.000000,0.000000,2011.000000,2010.0
25%,0.0,10.000000,0.000000,2013.000000,2010.0
50%,0.0,36.000000,1.000000,2015.000000,2010.0
75%,0.0,67.000000,4.000000,2015.000000,2010.0
max,0.0,863.000000,223.000000,2016.000000,2010.0

In [88]:
senior.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Year,Year Patron Registered
count,13.000000,13.000000,13.000000,13.000000,13.0
mean,2.538462,11.153846,4.076923,2012.307692,2010.0
std,1.126601,14.010985,7.365025,1.974192,0.0
min,0.000000,1.000000,0.000000,2010.000000,2010.0
25%,3.000000,3.000000,0.000000,2010.000000,2010.0
50%,3.000000,5.000000,2.000000,2012.000000,2010.0
75%,3.000000,14.000000,4.000000,2014.000000,2010.0
max,3.000000,51.000000,27.000000,2015.000000,2010.0

In [89]:
alpha = 0.01
young_adults['Total Checkouts'].quantile([alpha, 1-alpha])

0.01      2.00
0.99    706.84
Name: Total Checkouts, dtype: float64

In [90]:
alpha = 0.01
senior['Total Checkouts'].quantile([alpha, 1-alpha])

0.01     1.00
0.99    48.12
Name: Total Checkouts, dtype: float64