# Como abrir uma tabela em csv usando o pandas:

In [2]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

/tmp/ipykernel_18140/1714274953.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

# Como transformar um arquivo csv em uma arquivo json: df.to_json

In [3]:
df.to_json("../data/Library_Usage.json")

In [4]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [5]:
pd.to_numeric

<function pandas.core.tools.numeric.to_numeric(arg, errors: 'DateTimeErrorChoices' = 'raise', downcast: "Literal[('integer', 'signed', 'unsigned', 'float')] | None" = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>)>

In [6]:
pd.crosstab

<function pandas.core.reshape.pivot.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins: 'bool' = False, margins_name: 'Hashable' = 'All', dropna: 'bool' = True, normalize: 'bool' = False) -> 'DataFrame'>

In [7]:
df = pd.read_csv("../data/Library_Usage_Small.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True

In [8]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [9]:
df.to_json("../data/Library_Usage_Small.json")

In [10]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [11]:
df.to_html("../data/Library_Usage_Small.html")

In [12]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [13]:
df = pd.read_html("../data/Library_Usage_Small.html")
df

[   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
 0           0                 1               Juvenile                0
 1           1                 2                   Teen                0
 2           2                 0                  Adult                0
 3           3                 2                   Teen                0
 4           4                 2                   Teen                0
 5           5                 2                   Teen                0
 6           6                 2                   Teen                0
 7           7                 2                   Teen                0
 8           8                 0                  Adult                0
 9           9                 2                   Teen                0

    Total Renewals       Age Range Home Library Code Home Library Definition  \
 0               0    0 to 9 years                r3                Richmond
 1               0  10 to 19 years                 x                    Main
 2               0  35 to 44 years                m4                  Merced
 3               0  10 to 19 years                 x                    Main
 4               0  10 to 19 years                b2                 Bayview
 5               0  10 to 19 years                 x                    Main
 6               0  10 to 19 years                 x                    Main
 7               0  10 to 19 years                 x                    Main
 8               0  35 to 44 years                 x                    Main
 9               0  10 to 19 years                 x                    Main

    Circulation Active Month  Circulation Active Year Notice Preference Code  \
 0                       NaN                      NaN                      z
 1                       NaN                      NaN                      z
 2                       NaN                      NaN                      z
 3                       NaN                      NaN                      z
 4                       NaN                      NaN                      z
 5                       NaN                      NaN                      z
 6                       NaN                      NaN                      z
 7                       NaN                      NaN                      z
 8                       NaN                      NaN                      z
 9                       NaN                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [15]:
df.to_excel("../data/Library_Usage_Small.xlsx")

AttributeError: 'list' object has no attribute 'to_excel'

In [16]:
df

[   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
 0           0                 1               Juvenile                0
 1           1                 2                   Teen                0
 2           2                 0                  Adult                0
 3           3                 2                   Teen                0
 4           4                 2                   Teen                0
 5           5                 2                   Teen                0
 6           6                 2                   Teen                0
 7           7                 2                   Teen                0
 8           8                 0                  Adult                0
 9           9                 2                   Teen                0

    Total Renewals       Age Range Home Library Code Home Library Definition  \
 0               0    0 to 9 years                r3                Richmond
 1               0  10 to 19 years                 x                    Main
 2               0  35 to 44 years                m4                  Merced
 3               0  10 to 19 years                 x                    Main
 4               0  10 to 19 years                b2                 Bayview
 5               0  10 to 19 years                 x                    Main
 6               0  10 to 19 years                 x                    Main
 7               0  10 to 19 years                 x                    Main
 8               0  35 to 44 years                 x                    Main
 9               0  10 to 19 years                 x                    Main

    Circulation Active Month  Circulation Active Year Notice Preference Code  \
 0                       NaN                      NaN                      z
 1                       NaN                      NaN                      z
 2                       NaN                      NaN                      z
 3                       NaN                      NaN                      z
 4                       NaN                      NaN                      z
 5                       NaN                      NaN                      z
 6                       NaN                      NaN                      z
 7                       NaN                      NaN                      z
 8                       NaN                      NaN                      z
 9                       NaN                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [17]:
df.to_csv("../data/Library_Usage_Small1.csv")

AttributeError: 'list' object has no attribute 'to_csv'

In [18]:
df

[   Unnamed: 0  Patron Type Code Patron Type Definition  Total Checkouts  \
 0           0                 1               Juvenile                0
 1           1                 2                   Teen                0
 2           2                 0                  Adult                0
 3           3                 2                   Teen                0
 4           4                 2                   Teen                0
 5           5                 2                   Teen                0
 6           6                 2                   Teen                0
 7           7                 2                   Teen                0
 8           8                 0                  Adult                0
 9           9                 2                   Teen                0

    Total Renewals       Age Range Home Library Code Home Library Definition  \
 0               0    0 to 9 years                r3                Richmond
 1               0  10 to 19 years                 x                    Main
 2               0  35 to 44 years                m4                  Merced
 3               0  10 to 19 years                 x                    Main
 4               0  10 to 19 years                b2                 Bayview
 5               0  10 to 19 years                 x                    Main
 6               0  10 to 19 years                 x                    Main
 7               0  10 to 19 years                 x                    Main
 8               0  35 to 44 years                 x                    Main
 9               0  10 to 19 years                 x                    Main

    Circulation Active Month  Circulation Active Year Notice Preference Code  \
 0                       NaN                      NaN                      z
 1                       NaN                      NaN                      z
 2                       NaN                      NaN                      z
 3                       NaN                      NaN                      z
 4                       NaN                      NaN                      z
 5                       NaN                      NaN                      z
 6                       NaN                      NaN                      z
 7                       NaN                      NaN                      z
 8                       NaN                      NaN                      z
 9                       NaN                      NaN                      z

   Notice Preference Definition  Provided Email Address  \
 0                        Email                    True
 1                        Email                    True
 2                        Email                    True
 3                        Email                    True
 4                        Email                    True
 5                        Email                    True
 6                        Email                    True
 7                        Email                    True
 8                        Email                    True
 9                        Email                    True

    Year Patron Registered  Within San Francisco County
 0                    2022                         True
 1                    2022                         True
 2                    2019                         True
 3                    2021                         True
 4                    2013                         True
 5                    2021                        False
 6                    2021                        False
 7                    2021                         True
 8                    2019                        False
 9                    2021                        False  ]

In [19]:
df.memory_usage()

AttributeError: 'list' object has no attribute 'memory_usage'

In [20]:
df.memory_usage(deep=True)

AttributeError: 'list' object has no attribute 'memory_usage'

In [21]:
df.info()

AttributeError: 'list' object has no attribute 'info'

In [22]:
df.info(memory_usage='deep')

AttributeError: 'list' object has no attribute 'info'

In [23]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

/tmp/ipykernel_18140/226503331.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [24]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0           15
1          378
2           33
3         2140
4         1035
          ...
436285       6
436286       0
436287       0
436288       0
436289     101
Name: Total Renewals, Length: 436290, dtype: int64
        Total Renewals  Total Checkouts
0                   15               53
1                  378              480
2                   33               70
3                 2140             3934
4                 1035             1118
...                ...              ...
436285               6                2
436286               0                3
436287               0                6
436288               0                4
436289             101              309

[436290 rows x 2 columns]

# 2.5 Fallstudie: Feature Engineering

In [35]:
import pandas as pd
df = pd.read_json("../data/Library_Usage.json")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,None,b2,Bayview,Mar,2023.0,z,Email,True,2003,0.0
1,5,Staff,480,378,None,e9,Excelsior,Jun,2023.0,z,Email,True,2003,0.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,0.0
3,5,Staff,3934,2140,None,o2,Ocean View,Jul,2023.0,z,Email,True,2003,0.0
4,5,Staff,1118,1035,None,o7,Ortega,Jul,2023.0,z,Email,True,2003,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [36]:
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [37]:
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [38]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
df['Circulation Active Month']

0        1900-03-01
1        1900-06-01
2        1900-01-01
3        1900-07-01
4        1900-07-01
            ...
436285   1900-10-01
436286   1900-11-01
436287   1900-03-01
436288   1900-09-01
436289   1900-07-01
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [39]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0          3.0
1          6.0
2          1.0
3          7.0
4          7.0
          ...
436285    10.0
436286    11.0
436287     3.0
436288     9.0
436289     7.0
Name: Circulation Active Month, Length: 436290, dtype: float64

In [40]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,None,b2,Bayview,3.0,2023.0,z,Email,True,2003,0.0
1,5,Staff,480,378,None,e9,Excelsior,6.0,2023.0,z,Email,True,2003,0.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,z,Email,True,2011,0.0
3,5,Staff,3934,2140,None,o2,Ocean View,7.0,2023.0,z,Email,True,2003,0.0
4,5,Staff,1118,1035,None,o7,Ortega,7.0,2023.0,z,Email,True,2003,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,10.0,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,11.0,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,3.0,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,9.0,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,7.0,2023.0,z,Email,True,2003,NaN

In [41]:
df['Year Patron Registered']

0         2003
1         2003
2         2011
3         2003
4         2003
          ...
436285    2020
436286    2011
436287    2022
436288    2019
436289    2003
Name: Year Patron Registered, Length: 436290, dtype: int64

In [42]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])

In [43]:
df['Membership Duration']

0         20.0
1         20.0
2         12.0
3         20.0
4         20.0
          ...
436285     2.0
436286     4.0
436287     0.0
436288     1.0
436289    20.0
Name: Membership Duration, Length: 436290, dtype: float64

In [44]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [45]:
df['Membership Duration']

0         243.0
1         246.0
2         145.0
3         247.0
4         247.0
          ...
436285     34.0
436286     59.0
436287      3.0
436288     21.0
436289    247.0
Name: Membership Duration, Length: 436290, dtype: float64

In [46]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,5,Staff,53,15,None,b2,Bayview,3.0,2023.0,z,Email,True,2003,0.0,243.0
1,5,Staff,480,378,None,e9,Excelsior,6.0,2023.0,z,Email,True,2003,0.0,246.0
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,1.0,2023.0,z,Email,True,2011,0.0,145.0
3,5,Staff,3934,2140,None,o2,Ocean View,7.0,2023.0,z,Email,True,2003,0.0,247.0
4,5,Staff,1118,1035,None,o7,Ortega,7.0,2023.0,z,Email,True,2003,0.0,247.0

In [47]:
df.to_csv('../data/Library_Usage_Membership.csv', index=False)

In [48]:
df['Membership Duration'].fillna(0)

0         243.0
1         246.0
2         145.0
3         247.0
4         247.0
          ...
436285     34.0
436286     59.0
436287      3.0
436288     21.0
436289    247.0
Name: Membership Duration, Length: 436290, dtype: float64

# Como limpar tabelas de dados que nao interessam, com Funktionen isna(), notna(), dropna() und fillna() an um fehlende Werte zu identifizieren, zu entfernen oder mit anderen Werten zu ersetzen.

In [49]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage.csv',
                 low_memory=False
                )

In [50]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [51]:
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [52]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [53]:
len(df) - df.count()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [54]:
df_clean = df.dropna()
df_clean.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [55]:
df_clean

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
6,5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
7,5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
9,5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435078,0,Adult,0,0,25 to 34 years,x,Main,Jul,2023.0,z,Email,True,2022,False
435079,3,Senior,0,0,75 years and over,x,Main,Jul,2023.0,z,Email,True,2010,False
435080,3,Senior,0,0,75 years and over,x,Main,Nov,2019.0,z,Email,True,2008,False
435081,3,Senior,0,0,65 to 74 years,x,Main,Sep,2022.0,z,Email,True,2016,False
435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,Jul,2023.0,z,Email,True,2015,False

In [56]:
len(df) - len(df_clean)

78452

In [57]:
df_clean.to_csv('../data/Library_Usage_Clean.csv', index=False)

In [58]:
!head "../data/Library_Usage_Clean.csv"

Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
5,Staff,2635,4075,45 to 54 years,w2,West Portal,Jul,2023.0,z,Email,True,2003,False
5,Staff,774,218,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,508,330,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2005,False
5,Staff,110,41,45 to 54 years,x,Main,Mar,2023.0,z,Email,True,2016,False
5,Staff,146,259,60 to 64 years,x,Main,Jul,2023.0,z,Email,True,2008,False
5,Staff,363,213,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,670,391,55 to 59 years,x,Main,Jul,2023.0,z,Email,True,2003,False
5,Staff,762,563,45 to 54 years,x,Main,Jul,2023.0,z,Email,True,2003,False

In [59]:
!head -n 1 "../data/Library_Usage_Clean.csv"

Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County

In [60]:
import pandas as pd
df = pd.read_csv('../data/Library_Usage.csv',
                 low_memory=False
                )
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False

In [61]:
df.tail()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436290 entries, 0 to 436289
Data columns (total 14 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              436290 non-null  int64
 1   Patron Type Definition        436290 non-null  object
 2   Total Checkouts               436290 non-null  int64
 3   Total Renewals                436290 non-null  int64
 4   Age Range                     435378 non-null  object
 5   Home Library Code             436288 non-null  object
 6   Home Library Definition       436260 non-null  object
 7   Circulation Active Month      396777 non-null  object
 8   Circulation Active Year       396777 non-null  float64
 9   Notice Preference Code        393301 non-null  object
 10  Notice Preference Definition  393301 non-null  object
 11  Provided Email Address        436290 non-null  bool
 12  Year Patron Registered        436290 non-null  int64
 13  Within San Francisco County   435083 non-null  object
dtypes: bool(1), float64(1), int64(4), object(8)
memory usage: 43.7+ MB

In [63]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,436290.000000,436290,436290.000000,436290.000000,435378,436288,436260,396777,396777.000000,393301,393301,436290,436290.000000,435083
unique,NaN,17,NaN,NaN,10,75,29,12,NaN,1,1,2,NaN,1
top,NaN,Adult,NaN,NaN,25 to 34 years,x,Main,Jul,NaN,z,Email,True,NaN,False
freq,NaN,274682,NaN,NaN,92669,141878,142000,149494,NaN,393301,393301,393301,NaN,435083
mean,1.081295,NaN,160.294843,78.317546,NaN,NaN,NaN,NaN,2022.170698,NaN,NaN,NaN,2015.598327,NaN
std,3.383103,NaN,537.923680,304.506449,NaN,NaN,NaN,NaN,1.358145,NaN,NaN,NaN,6.148953,NaN
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,2003.000000,NaN
25%,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,2012.000000,NaN
50%,0.000000,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2017.000000,NaN
75%,1.000000,NaN,78.000000,35.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2021.000000,NaN
max,104.000000,NaN,45380.000000,11921.000000,NaN,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,2023.000000,NaN

In [ ]:
print(df.mean())
print(df['Total Renewals'].mean())

In [ ]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False)
df.loc[df['Total Checkouts'] > 10000]

In [ ]:
df['Patron Type Definition'].unique()

In [ ]:
df['Age Range'].unique()

In [ ]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

In [ ]:
row_filter = df['Total Checkouts'] == 0, ["Patron Type Definition"]
df.loc[row_filter]

In [ ]:
row_filter = (df['Patron Type Definition'] == 'Senior') & (df['Notice Preference Definition'] == 'Email')
df.loc[row_filter]

In [ ]:
row_filter = (df['Patron Type Definition'] == 'Welcome') & (df['Total Checkouts'] == 0)
df.loc[row_filter]

In [ ]:
kinder_unter_10 = (df['Patron Type Definition'] == 'Juvenile')
df.loc[kinder_unter_10]

In [ ]:
kinder_unter_10 = (df['Patron Type Definition'] == 'Juvenile') & (df['Age Range'] == '0 to 9 years')
df.loc[kinder_unter_10]

In [ ]:
# Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du?

print(len(df[df['Age Range'] == '0 to 9 years']))

In [ ]:
# Alternative
(df['Age Range'] == '0 to 9 years').sum()

In [ ]:
row_filter = df['Total Checkouts'] > 20000
df.loc[row_filter]

In [ ]:
print(len(df[df['Total Checkouts'] > 20000]))

In [ ]:
(df['Total Checkouts'] > 20000).sum()

In [ ]:
print(len(df[df['Home Library Definition'] == 'Richmond']))

In [ ]:
# alternative
(df['Home Library Definition'] == 'Richmond').sum()

In [ ]:
# Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

# Hierfür wird die in Aufgabe 2.5 neu definierte Variable 'Membership Duration' benötigt. 
# Entweder rechnest Du mit der gleichen Datei wie aus Aufgabe 2.5 weiter, oder führst die dortigen Schritte
# noch einmal durch

### erneute Berechnung von 'Membership Duration' ###
#df['Circulation Active Year'] = pd.to_numeric(
#    df['Circulation Active Year'], errors='coerce'
#)
#
#df['Circulation Active Month'] = pd.to_datetime(
#    df['Circulation Active Month'],
#    errors='coerce',
#    format="%b"
#)
#
#df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

#df['Membership Duration'] = (
#   df['Circulation Active Year'] - df['Year Patron Registered']
#)*12 + df['Circulation Active Month']
#df['Membership Duration'] = df['Membership Duration'].fillna(0)
####                                             ###

print(len(df[df['Membership Duration'] == 0])/len(df))

# alternative
(df['Membership Duration'] == 0).mean()

In [ ]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage_Membership.csv",
                low_memory=False)

In [ ]:
df

In [ ]:
df['Age Range'].isna().sum()

In [ ]:
len(df[(df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016)])